// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
}

header, footer {
    width: 100%;
    padding: 10px;
    background: #c52f24;
    color: #fff;
    margin: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
}

.main_container {
    margin: 50px 15px;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: #ffdfdf;
}

table th, table td {
    border: solid 1px black;
    padding: 10px 20px;
}

table td {
    background-color: #f1c8c861;
    text-align: center;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    padding-left: 0px;
}

.memo_content {
    width: 350px;
    height: 200px;
    font-size: 16px;
}

input, pre {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

input[type=submit] {
    width: auto;
}

.alert {
    padding: 15px;
    width: 400px;
    text-align: center;
}

.alert_success {
    background-color: #98ecaa7a;
    border: 2px solid #5cd075;
}

.alert_delete, .alert_failure {
    background-color: #ec98ac8f;
    border: 2px solid #ec7592;
}